---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h2>Hello Kids!</h2>

  <form name="form1" id="my_form" method="post" action="">
      <fieldset id="Group1" name="Group1">
      <legend>Group box</legend>
      <div><label><input type="radio" name="group1" value="saas">SaaS</label></div>
      <div><label><input type="radio" name="group1" value="managed">Managed</label></div>
  	</fieldset><br/>
  </form>

  <div id="saas" class="desc">

  <select id="cars-select" onchange="updateModels()">
    <option value="" disabled selected>--- Monitored by ---</option>
  </select>

  <select id="models-select" onchange="updateConfigurations()">
    <option value="" disabled selected>--- Application ---</option>
    </select>

  <select id="configurations-select" onchange="location = this.value;">
    <option value="" disabled selected>--- Infrastructure ---</option>
  </select>

  </div>
  <script src="./script.js"></script>

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
